<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>Insert title here</title>
</head>

<body>


	<div>
		<button type="button" onclick="location.href='/members/signUp'">sign
			up</button>
	</div>
	<h1>컨트롤러 데이터 출력</h1>

	<table border="1">
		<thead>
			<tr>
				<th>member name</th>
				<th>update</th>
				<th>delete</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="m:${memberlist}">
				<td th:text="${m.memberName}"></td>
				<td><a th:href="@{thymeleaf/members/updateForm/{id}(id=${m.memberId})}">Update</a>
				</td>
				<td>
					<form th:action="@{thymeleaf/members/deleteMember/{id}(id=${m.memberId})}"
						method="post" th:data-member-name="${m.memberName}"
              onsubmit="var name = this.getAttribute('data-member-name'); return confirm(name + '님을 정말로 삭제하시겠습니까?');">
						<input type="hidden" name="_method" value="delete" />
						<button type="submit" class="delete-btn">Delete</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>